header {
    padding: 10px;
    text-align: center;
    position: sticky
}

main {
    padding: 10px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #f3f3f7;
    border-radius: 5px;

}

.applications_view {
    margin: 20px 0;
}

.job_application {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid #a1a4aa;
    box-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    transition: all 0.1s ease-in-out;
}

.job_application:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px #4a78dd;
}

.job_application p {
    margin: 2px;
    padding: 0;
}

.job_application form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

button {
    color: #4a78dd;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    padding: 5px;
}

button:hover {
    color: white;
    text-decoration: underline;
    background-color: #4a78dd;
}

a {
    padding: 10px;
    border: 1px solid #4a78dd;
    color: #4a78dd;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    background-color: #4a78dd;
    color: white;
    text-decoration: underline;
    /*transform: translateY(-7px);*/
    box-shadow: 0 8px 20px #4a78dd;
}

.new_application {
    display: block;
}

.insight_view {
    margin: 20px 0;
}

.insight_card {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid #a1a4aa;
    box-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    transition: all 0.1s ease-in-out;
}

.insight_card:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px #4a78dd;
}

.insight_card img {
    max-height: 400px;
    height: auto;
    width: auto;
    object-fit: contain;
}

.insight_graph {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.dataframe{
    border-collapse: collapse;
    margin: auto auto;
}

.dataframe th{
    padding: 10px;
}

.dataframe td{
    padding: 5px;
}
