{% extends "index.html" %}
{% block content %}
	<h2>Application Management</h2>
    <a href="{{ url_for('new_application') }}">Add new Job Application to tracker</a>
    <div class="applications_view">
    <div class="applications_filters">
        <form action="{{ url_for('applications') }}" method="POST">
            <select name="status_filter">
                <option value="0">ALL</option>
                {% for status in status_list %}
                    <option value="{{ status.value }}"
                            {% if current_status == status %}
                                selected
                            {% endif %}
                    >{{ status.name }}</option>
                {% endfor %}
            </select>
        <button type="submit">Filter</button>
        </form>
    </div>
        {% for application in applications_list %}
            <div class="job_application">
                {% if application.get_status() %}
                    <p>{{ application.get_status().name }}</p>
                {% endif %}
                <p>Job Title: {{ application.get_job_title() }}</p>
                {% if application.get_company() %}
                    <p>Company: {{ application.get_company() }}</p>
                {% endif %}
                {% if application.get_date() %}
                    <p>Date Applied: {{ application.get_date() }}</p>
                {% endif %}
                {% if application.get_job_board() %}
                    <p>Job Board: {{ application.get_job_board() }}</p>
                {% endif %}
                <form action="{{ url_for('update_application') }}" method="GET">
                    <input type="hidden" name="application_id" value="{{ application.get_id() }}">
                    <button type="submit">Update</button>
                </form>
                <form action="{{ url_for('delete_application') }}" method="POST">
                    <input type="hidden" name="application_id" value="{{ application.get_id() }}">
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}